.VisTitle {
  text-align: left;
  font-family: "Roboto", sans-serif;
}
#VisText {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  width: 550px;
  height: 25px;
  top: 100px;
  float: right;
}
#boldText {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
}
#chartView {
  width: 500px;
  height: 300px;
  float: left;
}
.democrat {
  font-family: "Robot", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
